
.header-content{
    width: 100%;
    height: 94px;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    z-index: 100;
    box-sizing: border-box;
}
.header-content>img{
    position: absolute;
    left: 32px; 
}
.header-content>a{
    display: block;
    width: 158px;
    height: 26px;
}
.none-hover-rogo{
    width: 100%;
    height: 100%;
}
.hover-rogo{
    width: 100%;
    height: 100%;
}
.hover-rogo{
   display: none;
}
.header-list{
    display: flex;
}
.header-listinner{
    padding-left: 32px;
}
.header-listinner>a{
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.04em;
    font-weight: 600;
    color: #fff;
}
.hambergerbutton{
    border: transparent;
    background-color: transparent;
    width: 67px;
    height: 57px;
    cursor: pointer;
}
.line1{
    width: 22px;
    height: 2px;
    background: #fff;
    position: absolute;
    translate: 0px -12px;
}
.line2{
    width: 22px;
    height: 2px;
    background: #fff;
    position: absolute;
    translate: 0px -6px;  
}
.line3{
    width: 22px;
    height: 2px;
    background: #fff;
    position: absolute;
    translate: ;
}
.hamberger-nav{
    display: none;
}
.header-listinner>ul{
    display: none;
}
.main-video{
    position: relative;
    min-height: 400px;
    height: 100vh;
}
.video-content{
    top: 50%;
    left: 0px;
    right: 0px;
}
video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-text{
    position: absolute;
    padding-left: 68px; 
    top: 50%;
    left: 0px;
    right: 0px;
    transform: translate(0px, -50%);
}
.inner-text{
    color: #fff;
    text-align: left;
}
.redmotion{
    height: 20px;
    position: relative;
    animation:redcontent 15s infinite;
}

.red-circle{
    width: 20px;
    height: 20px;
    left: 0px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
}
.red-line{
    width: 100%;
    height: 3px;
    background-color: red;
    position: absolute;
    transform:translateY(-50%);
    top:50%;
}
.red-circleright{
    width: 20px;
    height: 20px;
    right: 0px;
    border-radius: 50%;
    background-color: red;
    position: absolute; 
}

h1{
    padding-top: 28px;
    font-family: 'WelcomeB';
    font-size: 52px;
    font-weight: bold;
    line-height: 82px;
}
.inner-text>p{
    font-weight: 600;
    font-size: 22px;
    line-height: 82px;
}
.text-content{
    width: 100%;
    padding: 59px;
    text-align: center;
    padding-top: 256px;
}
.text-containner{
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
.text-containner li{
        width: 25%;
}
h2{
   font-size: 36px; 
   font-weight: 800;
   line-height: 36px;
   padding: 0 0 55px 0;
}
.text-containner>ul{
    display: contents;
    flex-direction: column;
    padding: 0 59px;
}
.text1{
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.005em;
    color: #222222;
    margin: 6px 0 8px 0;
}
.text2{
    margin-top: 60px;
    font-size: 56px;
    font-weight: 800;
    line-height: 41px;
    color: #222222;
}
.text-containner>ul>li>p{
    margin-top: 60px;
    font-size: 20px;
    font-weight: 800;
}
.text3{
    font-size: 16px;
    line-height: 48px;
    color: #919191;
}
.textshow{
    padding-top: 20vw;
}

@keyframes redcontent{
    0%{
        width: 20px;
    }
    10%{
        width: 80px;
    }
    100%{
        width: 80px;
    }
}
